{{ greeting }}
<br>
<br>
{{ body }}
<br>
<br>
{{#is_completed_tasks?}}
<strong>Completed:</strong>
<ol>
  {{#completed_tasks}}
    <li>{{title}}</li>
  {{/completed_tasks}}
</ol>
{{/is_completed_tasks?}}
{{#is_on_progress_tasks?}}
  <strong>On Progress:</strong>
  <ol>
    {{#on_progress_tasks}}
      <li>{{title}}</li>
    {{/on_progress_tasks}}
  </ol>
{{/is_on_progress_tasks?}}
{{#note?}}
  <br>
  Note:
  <br>
  {{{note}}}
{{/note?}}
<br>
<br>
Please let me know if you have any feedback.
<br>
<br>
Best Regards,
<br>
{{user_full_name}}
