.row
  .col-lg-12
    .card
      .card-body.app-heading
        = image_tag "profile.png", class: "profile-img"
        .app-title
          .title
            %span.highlight= @user.full_name
          .description= @user.email
