.app-container.app-login
  .flex-center
    .app-header
    .app-body
      .loader-container.text-center
        .icon
          .sk-folding-cube
            .sk-cube1.sk-cube
            .sk-cube2.sk-cube
            .sk-cube4.sk-cube
            .sk-cube3.sk-cube
        .title Logging in...
      .app-block
        .app-form
          .form-header
            .app-brand
              %span.highlight DailyReport41
              Login
          .form-footer
            -# have offline access
            -#= link_to user_google_oauth2_omniauth_authorize_path(prompt: "consent"), class: "btn btn-default btn-sm btn-social __google" do
            = link_to user_google_oauth2_omniauth_authorize_path, class: "btn btn-default btn-sm btn-social __google" do
              .info
                %i.icon.fa.fa-google{"aria-hidden" => "true"}
                %span.title Login with Google
    .app-footer
