.CodeMirror, .CodeMirror-scroll {
  min-height: 160px;
}

.select2-container--default {
  .select2-selection--multiple {
    border-radius: 2px;
    padding: 5px 15px;
    height: auto;
    font-size: 1em;
    line-height: auto;
    border: 1px solid #c8d1d3;
    background-color: transparent;
    box-shadow: none;

    .select2-selection__rendered {
      padding: 0;
    }
  }
}

.select2-hidden {
  display:none !important;
}

.checkbox input + label::after {
  content: '\f10c';
  color: #FFF;
  background-color: #FFC153;
  border: 1px solid #FFC153;
  border-bottom: 2px solid #e9aa3a;
}

.checkbox {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

div.task-list {
  float: left;
  width: 100%;
  .checkbox {
    .task-label {
      border: none;
      width: 97%;
      input {
        width: 97%;
      }
    }
  }
}

.task-remove {
  float: right;
  position: relative;
  top: -36px;
}

#js-email-recipients {
  display: none;
}
