.row
  .col-xs-12
    .card
      .card-header
        Detail Report

      .card-body
        .dataTables_wrapper
          .top
            = link_to 'Edit', edit_report_path(@report), class: "btn btn-success"
        = @body_template.html_safe
